<%- include('partials/header') %>

<link rel="stylesheet" href="/css/courses.css">

<div id="main">
    <h1>All Courses</h1>
    <a href="/createcourse" class="create-user-link">Create User</a>

    <div id="all-courses">
       <% users.forEach(function(user){ %>
        <div id="courses">
            <div id="image"><img src="<%= user.image %>" alt=""></div>
            <h3><%= user.name %></h3>
            <h5><%= user.price %></h5>


            <div id="edit-course">
                <a class="ed" href="/edit/<%= user._id %>">Edit Course</a>
                <a class="del" href="/delete/<%= user._id %>">Delete Course</a>
            </div>
 </div>
       <%  })  %>


</div>

</div>



<script src="/javascript/script.js"></script>
</body>
</html>
